hargo
vendor
target
cmd/hargo/hargo-fetch-2*/*
hargo-fetch*/*

# Chronograf db
chronograf-v1.db

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### SublimeText ###
# SublimeText project files
*.sublime-workspace
*.sublime-project

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

## VS Code

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

## IntelliJ
.idea/*
*.iml

*.exe
*.test
*.prof
*.swp
